p.two{
    position:relative;
    bottom: 34px;
    float: right;
    font-size: .8em;
    right:10px;
}
p.one{
    font-size: .8em;
    position:relative;
    left: 10px;
    width: 900px;
}
 img.room{
     padding-right:10px;
 }
 div.container{
     border: solid lightgrey 1px;
     padding-left:0px;
     padding-right:0px;
 }
a.nav-link{
    color: black;
}
small {
    position:relative;
    left: 45px;
    bottom:10px;
}
h5{
    position: relative;
    left: 18px;
    width: 800px;
}
thead.colors{
    background-color: lightsteelblue;
}
span.badge.badge-pill.badge-secondary {
    background-color: lightgrey;
    color:black;
}