
        nav {
            border-top: solid 1px;
            width: 100%;
            margin:.25em;
        }
        li.nav-item{
            background-color:white;
        }

        ul, li {
            margin-right:.25em;
        }

        input.form-control {
            margin-right:.75em;
        }
        h1 {
            text-align: center;
            background-color: white;
            opacity: .75;
        }
        .card-header:first-child {
            background-color:lightblue;
        }
        .container-fluid {
            max-width:100%;
        }

        .img-fluid {
            max-width: 100%;
            height:auto;

        }
        .list-group {
            text-align:left;
        }
        .btn {
            background-color: white;
            color: black;
            float:right;
        }
        .jumbotron {

        }



        @media (max-width: 575.98px) {
            nav {
                border-top: solid 1px;
                width: 100%;
                margin: .25em;
            }

            ul, li {
                margin-right: .25em;
            }

            input.form-control {
                margin-right: .75em;
            }

            h1 {
                text-align: center;
                background-color: white;
                opacity: .75;
            }

            .container-fluid {
                max-width: 100%;
            }

            .img-fluid {
                max-width: 100%;
                height: auto;

            }

            .btn {
                background-color: white;
                color: black;

            }
        }
        div.card-header {
            text-align:left;

        }
        @media (max-width: 767.98px) {
            nav {
                border-top: solid 1px;
                width: 100%;
                margin: .25em;
            }

            ul, li {
                margin-right: .25em;
            }

            input.form-control {
                margin-right: .75em;
            }

            h1 {
                text-align: center;
                background-color: white;
                opacity: .75;
            }

            .container-fluid {
                max-width: 100%;
            }

            .img-fluid {
                max-width: 100%;
                height: auto;

            }

            .btn {
                background-color: white;
                color: black;
            }
        }
            /** Omitted this bottom code after the previous queries **/

       /** @media (max-width: 991.98px) {
            nav {
                border-top: solid 1px;
                width: 100%;
                margin:.25em;
            }

            ul, li {
                margin-right:.25em;
            }

            input.form-control {
                margin-right:.75em;
            }
            h1 {
                text-align: center;
                background-color: white;
                opacity: .75;
            }
            .container-fluid {
                max-width:100%;
            }

            .img-fluid {
                max-width: 100%;
                height:auto;

            }
            .btn {
                background-color: white;
                color: black;
        }

       /** @media (max-width: 1200px) {
            nav {
                border-top: solid 1px;
                width: 100%;
                margin: .25em;
            }

            ul, li {
                margin-right: .25em;
            }

            input.form-control {
                margin-right: .75em;
            }

            h1 {
                text-align: center;
                background-color: white;
                opacity: .75;
            }

            .container-fluid {
                max-width: 100%;
            }

            .img-fluid {
                max-width: 100%;
                height: auto;

            }

            .btn {
                background-color: white;
                color: black;
            }
        }**/



