
form.form-inline.my-2.my-lg-0 {
    position:relative;
    right: 48%;
}
a.nav-link.diff {
    position:relative;
    left:865px;
}
img{
    position:relative;
    right:7px;
}
li:hover {
    background-color: lightgrey;
}
a:hover {
    background-color: lightgrey;
}
img.pizza {
    width:100%;
    height:225px;
}
h1 {
    position:relative;
    bottom:146px;
    text-align:center;
    background-color: white;
    opacity:.7;
}