ul {
    list-style:none;
    text-align:center;
}
li {
    padding:20px;
}
ol {
    list-style:none;
    text-align:center;
}

header {
    text-align: center;
    font-family:"Rockwell Extra Bold";

}
h1 {
    color: blue;
    text-decoration: underline;
}
body {
    background-color:silver;
    font-family:"Comic Sans MS";
    background-image:url(../img/pexels-photo-1068523.jpeg);
    background-repeat:no-repeat;
    background-size:250px;
}
img {
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
}
section p{
    background-color:peachpuff;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:20px;
}

.Fancy-header{
    color:purple;
}
.tables{
    padding-top:50px;
    padding-left:500px;
    padding-right:450px;
    padding-bottom:50px;
    border-style:solid;
}

.title {
    text-align:center;
}
.Products {
    text-align:center;
}

.guarantee{
    padding-left:450px;
}

.fade-in {
    opacity: 9;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 7s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


a:link {
    color:green;
}

a:visited {
    color:black;
}

a:hover {
    color:yellow;
}

a:active {
    color:brown;
}

a{
    padding-left:175px;
}
